In [1]:
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [2]:
aire1907=pd.read_csv("2019_07_Juliol_qualitat_aire_BCN.csv",sep= ';')
aire1908=pd.read_csv("2019_08_Agost_qualitat_aire_BCN.csv")
aire1909=pd.read_csv("2019_09_Setembre_qualitat_aire_BCN.csv")
aire1910=pd.read_csv("2019_10_Octubre_qualitat_aire_BCN.csv")
aire1911=pd.read_csv("2019_11_Novembre_qualitat_aire_BCN.csv")
aire1912=pd.read_csv("2019_12_Desembre_qualitat_aire_BCN.csv")

aire2001=pd.read_csv("2020_01_Gener_qualitat_aire_BCN.csv")
aire2002=pd.read_csv("2020_02_Febrer_qualitat_aire_BCN.csv")
aire2003=pd.read_csv("2020_03_Marc_qualitat_aire_BCN.csv")
aire2004=pd.read_csv("2020_04_Abril_qualitat_aire_BCN.csv")
aire2005=pd.read_csv("2020_05_Maig_qualitat_aire_BCN.csv")
aire2006=pd.read_csv("2020_06_Juny_qualitat_aire_BCN.csv")
aire2007=pd.read_csv("2020_07_Juliol_qualitat_aire_BCN.csv")
aire2008=pd.read_csv("2020_08_Agost_qualitat_aire_BCN.csv")
aire2009=pd.read_csv("2020_09_Setembre_qualitat_aire_BCN.csv")
aire2010=pd.read_csv("2020_10_Octubre_qualitat_aire_BCN.csv")
aire2011=pd.read_csv("2020_11_Novembre_qualitat_aire_BCN.csv")
aire2012=pd.read_csv("2020_12_Desembre_qualitat_aire_BCN.csv")

aire2101=pd.read_csv("2021_01_Gener_qualitat_aire_BCN.csv")
aire2102=pd.read_csv("2021_02_Febrer_qualitat_aire_BCN.csv")
aire2103=pd.read_csv("2021_03_Marc_qualitat_aire_BCN.csv")
aire2104=pd.read_csv("2021_04_Abril_qualitat_aire_BCN.csv")
aire2105=pd.read_csv("2021_05_Maig_qualitat_aire_BCN.csv")
aire2106=pd.read_csv("2021_06_Juny_qualitat_aire_BCN.csv")
aire2107=pd.read_csv("2021_07_Juliol_qualitat_aire_BCN.csv")
aire2108=pd.read_csv("2021_08_Agost_qualitat_aire_BCN.csv")
aire2109=pd.read_csv("2021_09_Setembre_qualitat_aire_BCN.csv")
aire2110=pd.read_csv("2021_10_Octubre_qualitat_aire_BCN.csv")
aire2111=pd.read_csv("2021_11_Novembre_qualitat_aire_BCN.csv")
aire2112=pd.read_csv("2021_12_Desembre_qualitat_aire_BCN.csv")

aire2201=pd.read_csv("2022_01_Gener_qualitat_aire_BCN.csv")
aire2202=pd.read_csv("2022_02_Febrer_qualitat_aire_BCN.csv")
aire2203=pd.read_csv("2022_03_Marc_qualitat_aire_BCN.csv")
aire2204=pd.read_csv("2022_04_Abril_qualitat_aire_BCN.csv")
aire2205=pd.read_csv("2022_05_Maig_qualitat_aire_BCN.csv")
aire2206=pd.read_csv("2022_06_Juny_qualitat_aire_BCN.csv")

In [3]:
aire1907.head()

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,8,Barcelona,19,Barcelona,4,7,2019,7,1,1.0,...,2.0,V,1.0,V,1.0,V,1.0,V,1.0,V
1,8,Barcelona,19,Barcelona,4,7,2019,7,2,2.0,...,4.0,V,4.0,V,2.0,V,2.0,V,2.0,V
2,8,Barcelona,19,Barcelona,4,7,2019,7,3,2.0,...,4.0,V,8.0,V,18.0,V,19.0,V,27.0,V
3,8,Barcelona,19,Barcelona,4,7,2019,7,4,7.0,...,2.0,V,2.0,V,2.0,V,1.0,V,1.0,V
4,8,Barcelona,19,Barcelona,4,7,2019,7,5,1.0,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

In [4]:
NO2_1907 = aire1907[(aire1907["CODI_CONTAMINANT"]== 8)&(aire1907["ESTACIO"]==43)]
NO2_1908 = aire1908[(aire1908["CODI_CONTAMINANT"]== 8)&(aire1908["ESTACIO"]==43)]
NO2_1909 = aire1909[(aire1909["CODI_CONTAMINANT"]== 8)&(aire1909["ESTACIO"]==43)]
NO2_1910 = aire1910[(aire1910["CODI_CONTAMINANT"]== 8)&(aire1910["ESTACIO"]==43)]
NO2_1911 = aire1911[(aire1911["CODI_CONTAMINANT"]== 8)&(aire1911["ESTACIO"]==43)]
NO2_1912 = aire1912[(aire1912["CODI_CONTAMINANT"]== 8)&(aire1912["ESTACIO"]==43)]

NO2_2001 = aire2001[(aire2001["CODI_CONTAMINANT"]== 8)&(aire2001["ESTACIO"]==43)]
NO2_2002 = aire2002[(aire2002["CODI_CONTAMINANT"]== 8)&(aire2002["ESTACIO"]==43)]
NO2_2003 = aire2003[(aire2003["CODI_CONTAMINANT"]== 8)&(aire2003["ESTACIO"]==43)]
NO2_2004 = aire2004[(aire2004["CODI_CONTAMINANT"]== 8)&(aire2004["ESTACIO"]==43)]
NO2_2005 = aire2005[(aire2005["CODI_CONTAMINANT"]== 8)&(aire2005["ESTACIO"]==43)]
NO2_2006 = aire2006[(aire2006["CODI_CONTAMINANT"]== 8)&(aire2006["ESTACIO"]==43)]
NO2_2007 = aire2007[(aire2007["CODI_CONTAMINANT"]== 8)&(aire2007["ESTACIO"]==43)]
NO2_2008 = aire2008[(aire2008["CODI_CONTAMINANT"]== 8)&(aire2008["ESTACIO"]==43)]
NO2_2009 = aire2009[(aire2009["CODI_CONTAMINANT"]== 8)&(aire2009["ESTACIO"]==43)]
NO2_2010 = aire2010[(aire2010["CODI_CONTAMINANT"]== 8)&(aire2010["ESTACIO"]==43)]
NO2_2011 = aire2011[(aire2011["CODI_CONTAMINANT"]== 8)&(aire2011["ESTACIO"]==43)]
NO2_2012 = aire2012[(aire2012["CODI_CONTAMINANT"]== 8)&(aire2012["ESTACIO"]==43)]

NO2_2101 = aire2101[(aire2101["CODI_CONTAMINANT"]== 8)&(aire2101["ESTACIO"]==43)]
NO2_2102 = aire2102[(aire2102["CODI_CONTAMINANT"]== 8)&(aire2102["ESTACIO"]==43)]
NO2_2103 = aire2103[(aire2103["CODI_CONTAMINANT"]== 8)&(aire2103["ESTACIO"]==43)]
NO2_2104 = aire2104[(aire2104["CODI_CONTAMINANT"]== 8)&(aire2104["ESTACIO"]==43)]
NO2_2105 = aire2105[(aire2105["CODI_CONTAMINANT"]== 8)&(aire2105["ESTACIO"]==43)]
NO2_2106 = aire2106[(aire2106["CODI_CONTAMINANT"]== 8)&(aire2106["ESTACIO"]==43)]
NO2_2107 = aire2107[(aire2107["CODI_CONTAMINANT"]== 8)&(aire2107["ESTACIO"]==43)]
NO2_2108 = aire2108[(aire2108["CODI_CONTAMINANT"]== 8)&(aire2108["ESTACIO"]==43)]
NO2_2109 = aire2109[(aire2109["CODI_CONTAMINANT"]== 8)&(aire2109["ESTACIO"]==43)]
NO2_2110 = aire2110[(aire2110["CODI_CONTAMINANT"]== 8)&(aire2110["ESTACIO"]==43)]
NO2_2111 = aire2111[(aire2111["CODI_CONTAMINANT"]== 8)&(aire2111["ESTACIO"]==43)]
NO2_2112 = aire2112[(aire2112["CODI_CONTAMINANT"]== 8)&(aire2112["ESTACIO"]==43)]

NO2_2201 = aire2201[(aire2201["CODI_CONTAMINANT"]== 8)&(aire2201["ESTACIO"]==43)]
NO2_2202 = aire2202[(aire2202["CODI_CONTAMINANT"]== 8)&(aire2202["ESTACIO"]==43)]
NO2_2203 = aire2203[(aire2203["CODI_CONTAMINANT"]== 8)&(aire2203["ESTACIO"]==43)]
NO2_2204 = aire2204[(aire2204["CODI_CONTAMINANT"]== 8)&(aire2204["ESTACIO"]==43)]
NO2_2205 = aire2205[(aire2205["CODI_CONTAMINANT"]== 8)&(aire2205["ESTACIO"]==43)]
NO2_2206 = aire2206[(aire2206["CODI_CONTAMINANT"]== 8)&(aire2206["ESTACIO"]==43)]

NO2_1907.head()

,CODI_PROVINCIA,PROVINCIA,CODI_MUNICIPI,MUNICIPI,ESTACIO,CODI_CONTAMINANT,ANY,MES,DIA,H01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
270,8,Barcelona,19,Barcelona,43,8,2019,7,1,33.0,...,44.0,V,53.0,V,52.0,V,56.0,V,65.0,V
271,8,Barcelona,19,Barcelona,43,8,2019,7,2,74.0,...,67.0,V,52.0,V,55.0,V,71.0,V,79.0,V
272,8,Barcelona,19,Barcelona,43,8,2019,7,3,66.0,...,113.0,V,116.0,V,88.0,V,62.0,V,38.0,V
273,8,Barcelona,19,Barcelona,43,8,2019,7,4,70.0,...,65.0,V,67.0,V,53.0,V,52.0,V,47.0,V
274,8,Barcelona,19,Barcelona,43,8,2019,7,5,38.0,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

In [5]:
NO2_1907 =pd.melt(NO2_1907, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_1908 =pd.melt(NO2_1908, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_1909 =pd.melt(NO2_1909, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_1910 =pd.melt(NO2_1910, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_1911 =pd.melt(NO2_1911, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_1912 = pd.melt(NO2_1912, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")



NO2_2001=pd.melt(NO2_2001, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2002=pd.melt(NO2_2002, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2003=pd.melt(NO2_2003, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2004=pd.melt(NO2_2004, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2005=pd.melt(NO2_2005, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2006=pd.melt(NO2_2006, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2007 =pd.melt(NO2_2007, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2008 =pd.melt(NO2_2008, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2009 =pd.melt(NO2_2009, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2010 =pd.melt(NO2_2010, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2011 =pd.melt(NO2_2011, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2012 = pd.melt(NO2_2012, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")



NO2_2101=pd.melt(NO2_2101, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2102=pd.melt(NO2_2102, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2103=pd.melt(NO2_2103, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2104=pd.melt(NO2_2104, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2105=pd.melt(NO2_2105, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2106=pd.melt(NO2_2106, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2107 =pd.melt(NO2_2107, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2108 =pd.melt(NO2_2108, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2109 =pd.melt(NO2_2109, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2110 =pd.melt(NO2_2110, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2111 =pd.melt(NO2_2111, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2112 = pd.melt(NO2_2112, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")

NO2_2201=pd.melt(NO2_2201, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2202=pd.melt(NO2_2202, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2203=pd.melt(NO2_2203, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2204 =pd.melt(NO2_2204, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2205 =pd.melt(NO2_2205, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")
NO2_2206 =pd.melt(NO2_2206, id_vars=["ANY","MES","DIA"], value_vars=["H01","H02","H03","H04","H05","H06","H07","H08","H09","H10","H11","H12","H13","H14","H15","H16","H17","H18","H19","H20","H21","H22","H23","H24" ],var_name="hour", value_name="mg/m^3_43")



NO2_1907

      ANY  MES  DIA hour  mg/m^3_43
0    2019    7    1  H01       33.0
1    2019    7    2  H01       74.0
2    2019    7    3  H01       66.0
3    2019    7    4  H01       70.0
4    2019    7    5  H01       38.0
..    ...  ...  ...  ...        ...
643  2019    7   23  H24       73.0
644  2019    7   24  H24       82.0
645  2019    7   25  H24       48.0
646  2019    7   29  H24        NaN
647  2019    7   30  H24       43.0

[648 rows x 5 columns]

In [6]:
NO2=pd.concat([NO2_1907, NO2_1908, 
               NO2_1909, NO2_1910, NO2_1911, NO2_1912,
               NO2_2001, NO2_2002, NO2_2003, NO2_2004, 
               NO2_2005, NO2_2006, NO2_2007, NO2_2008, 
               NO2_2009, NO2_2010, NO2_2011, NO2_2012,
               NO2_2101, NO2_2102, NO2_2103, NO2_2104, 
               NO2_2105, NO2_2106, NO2_2107, NO2_2108, 
               NO2_2109, NO2_2110, NO2_2111, NO2_2112,
               NO2_2201, NO2_2202, NO2_2203, NO2_2204, 
               NO2_2205, NO2_2206 
              ])
NO2

      ANY  MES  DIA hour  mg/m^3_43
0    2019    7    1  H01       33.0
1    2019    7    2  H01       74.0
2    2019    7    3  H01       66.0
3    2019    7    4  H01       70.0
4    2019    7    5  H01       38.0
..    ...  ...  ...  ...        ...
715  2022    6   26  H24       21.0
716  2022    6   27  H24       23.0
717  2022    6   28  H24       29.0
718  2022    6   29  H24       17.0
719  2022    6   30  H24       18.0

[25896 rows x 5 columns]

In [7]:
NO2["hour"]=NO2["hour"].apply(lambda x: int(x[1:]))
NO2

      ANY  MES  DIA  hour  mg/m^3_43
0    2019    7    1     1       33.0
1    2019    7    2     1       74.0
2    2019    7    3     1       66.0
3    2019    7    4     1       70.0
4    2019    7    5     1       38.0
..    ...  ...  ...   ...        ...
715  2022    6   26    24       21.0
716  2022    6   27    24       23.0
717  2022    6   28    24       29.0
718  2022    6   29    24       17.0
719  2022    6   30    24       18.0

[25896 rows x 5 columns]

In [8]:
from datetime import datetime
NO2.rename(columns = {'ANY':'year', 'MES':'month',"DIA":"day",}, inplace = True)


NO2["DATETIME"]=pd.to_datetime(NO2[["year",'month', 'day', 'hour']])
NO2= NO2[["DATETIME","mg/m^3_43"]]
NO2.set_index('DATETIME', inplace=True)
NO2.sort_values(by="DATETIME",inplace=True)

NO2

                     mg/m^3_43
DATETIME
2019-07-01 01:00:00       33.0
2019-07-01 02:00:00       27.0
2019-07-01 03:00:00       25.0
2019-07-01 04:00:00       34.0
2019-07-01 05:00:00       21.0
...                        ...
2022-06-30 20:00:00       76.0
2022-06-30 21:00:00       30.0
2022-06-30 22:00:00       20.0
2022-06-30 23:00:00       16.0
2022-07-01 00:00:00       18.0

[25896 rows x 1 columns]

In [9]:
NO2.to_csv("NO2_E43.csv")